body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    background-color: #b46067;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category_input{
    font-size: 15px;
}

h1 {
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-section {
    text-align: center;
    margin: 15px 0;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#save-button {
    background-color: #28a745;
}

#delete-button {
    background-color: #dc3545;
}

#back-button {
    background-color: #6c757d;
}

button:hover {
    opacity: 0.9;
}
